.h2c {
  color: white;
}

.carrito {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 15px 16px;
  opacity: 0.7;
  background-image: url(../../../public/assets/img/fondoDetalle2.jpg);
  margin-top: 10px;
  height: 300px;
  font-family: "Neuton";
}

.cardimgc{
  height: 300px;
  width: 300px;
  margin-top: -10px;
}

.h4t{
  color: white;
  margin-left: 750px;
  font-family: "Neuton";
}

.btnc{
  margin-left: 990px;
  font-family: "Neuton";
  
}

.btncc{
  background: rgb(2,0,36);
  font-family: "Neuton";
  color: rgb(196, 196, 196);
}

.cardb{
  box-shadow: 1px 1px 5px rgb(107, 105, 105);
  border: solid rgba(3, 133, 255, 0) 2px;
    
}

.btnp{
  margin-left: 1015px;
  margin-top: -65px;
  font-family: "Neuton";
}

.btnrd{
  font-family: "Neuton";
  font-size: 8px;
  margin-left: 10px;
}


