.h2c {
    color: white;
    font-family: "Neuton";
}

hr {
    color: white;
}

.pn{
    margin-left: 300px;
    color: white;
    font-family: "Neuton";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);

}

.pnn{
    margin-left: 700px;
    margin-top: -250px;
    margin-bottom: 130px;
    text-align: justify;
    color: white;
    font-family: "Neuton";
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}