.truck{
    color: rgb(44, 236, 18);
    font-size: 25px;
    text-decoration: none;
    font-family: "Neuton";
    margin-top: -20px;
}

.truck:hover{
    color: rgb(255, 136, 0);
}

.h2c{
    font-family: "Neuton";
}
