
.origen-submenu {
    width: 8rem;
    position:absolute;
    top: 65px;
    list-style: none;
    text-align: start;
    margin-right: -2%;
    z-index: 100;
    text-align: center;
  }
  
  .origen-submenu li {
    background: rgb(43, 58, 58);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .origen-submenu :hover {
    color: rgb(255, 217, 0);
  }
  
  .origen-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
  }